.lien {
    color: #213259;
    border: 1px solid #fff8e7;
    margin-left: 40px;
}

.commentaire {
    display: block;
    text-align: right;
}

#le-div-des-liens h3 {
    background-color: black;
    color: white;
}

#le-div-des-liens * {
    font-family: monospace;
}
